APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8080
HOST_APP_PORT=8080
APP_NAME=team1c-amazon
DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/amazon
SYNC_DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/amazon
AMAZON_HOST=web
AMAZON_PORT=8080
UPS_HOST=host.docker.internal
UPS_PORT=8081
WORLD_HOST=host.docker.internal
WORLD_PORT=23456
WORLD_ID=
WORLD_SIM_SPEED=100
WAREHOUSE_ID=1
WAREHOUSE_X=10
WAREHOUSE_Y=10
