DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,host.docker.internal,vcm-51642.vm.duke.edu,67.159.74.167,67.159.75.250
DJANGO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8081,http://localhost:8081,http://vcm-51642.vm.duke.edu:8081,http://67.159.74.167:8081,http://67.159.75.250:8081,http://vcm-51642.vm.duke.edu:8191,http://67.159.74.167:8191,http://67.159.75.250:8191

UPS_PORT=8081
AMAZON_HOST=amazon
AMAZON_PORT=8080

DATABASE_NAME=ups
DATABASE_USER=ups
DATABASE_PASSWORD=ups
DATABASE_HOST=db
DATABASE_PORT=5432

WORLD_HOST=world
WORLD_PORT=12345
WORLD_DAEMON_DRY_RUN=1
UPS_WORLD_COMMAND_MAX_RETRIES=5
UPS_API_TOKEN=dev-ups-token
